
#header{
    background-color: #18282f;
}

.grey-bg{
    background-color: #fbfbfb;
}

.ui.yellow.button{
    background-color: #f6cf41;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}