<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header-page"></div>

<!-- /////////////////// Main /////////////////////-->

<div class="main ui container">
    ss
</div>

<!-- ////////////////// Footer //////////////////-->
<div th:replace="fragments/footer :: footer-js"></div>
<div th:replace="fragments/footer :: footer-sticky"></div>

</body>
</html>